@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model TaskManagerWebsite.Model.TaskManagerViewModel

@{
    ViewBag.Title = "Info";
    Layout = "_Layout";
}

<h2>Task Information</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Requirements
        </th>
        <th>
            Assigned
        </th>
        <th>
            Start Date
        </th>
        <th>
            Deadline
        </th>
        <th></th>
    </tr>

    @foreach (var task in Model.Tasklist)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.Title)


            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Requirements)
            </td>
            <td>
                @{
                    var assignments = @Model.Assignmentlist.ToList();
                    string name = "";
                    /* If we find any assigments to the current task we display them */
                    foreach (var a in assignments)
                    {
                        if (a.TaskId == task.TaskId)
                        {
                            var user = @Model.Userlist.First(u => u.UserId == a.UserId);
                            name = user.FirstName + " " + user.LastName;
                            <p>@name</p>
                        }

                    }
                    if (name == "")
                    {
                        <p>none</p>
                    }
                }
                
            </td>
            <td>
                @task.BeginDateTime.Substring(0, 10)
            </td>
            <td>
                @task.DeadlineDateTime.Substring(0, 10)
            </td>
        </tr>
                    }

</table>